body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(161, 159, 160);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2bc0b9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(5, 5, 5);
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #05585e;
    color: white;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4021ad;
}